apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  annotations:
    description: "Frontend application deployment"
    version: "2.0"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: frontend-app:2.0
        ports:
          - containerPort: 7000
        env:
          - name: BACKEND_BASE_URL
            value: "http://backend.demo-prakash.com"