apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: main-ingress
  namespace: demo
spec:
  ingressClassName: nginx
  rules:
  - host: ui.demo.com
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend-service
              port:
                number: 3000
  - host: backend.demo.com
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: backend-service
              port:
                number: 4000
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: backend-service
              port:
                number: 4000
  - host: auth.demo.com
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: auth-service
              port:
                number: 5000